body {
    margin: auto;
    text-align: center;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    color: orangered;
}

div {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    color: gray;
    color: black;
    border: 2px solid orangered;
    text-align: left;
    display: flex;
    justify-content: space-around;
    transition: ease-in-out 0.5s;
}

div:hover {
    background-color: orangered;
    color: white;
    box-shadow: none;
    transition: ease-in-out 0.5s;
}

div button {
    height: 20px;
    position: relative;
    top: 15px;
}

div p {
    float: left;
}